.canvas{
  width: 100vw;
  display:flex;
  justify-content: center;
  object-fit: contain;
}

#regularPolygonsCanvas{
  border: 2px solid black;

}

.card{
  width: 20rem;
  margin: auto;
  text-align: center;
  margin-top: 20px;
}
