* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#logo {
  height: 50px;
  width: 100px;
  border-bottom: solid rgb(233, 221, 221) 1px;
  border-radius: 10px;
  margin-left: 5px;
  margin-top: 5px;
}

ul.li {
  padding-top: 20px;
}

a {
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
}

#myInput {
  margin: auto;
}

li {
  list-style-type: none;
}

.container {
  margin-top: 6rem;
}

#creator {
  margin-left: auto;
  margin-right: 10px;
  margin-top: 10px;
  font-family: "Kaushan Script", cursive;
}

#dark {
  margin-right: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

#python-module-btn{
  margin-right: 10px;
  margin-top: 10px;
  margin-left: 10px;
  color: white;
  font-size: 15px;

}

#python-module-btn :hover{
  color:white;
}
