* {
  padding: 0px;
  margin: 0px;
}

body {
  overflow-x: hidden;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.btn {
  margin-top: 10px;
}

img {
  margin-top: 10px;
}

.card {
  margin-top: 20px;
  text-align: center;
}

#home {
  margin-top: 10px;
  margin-left: 10px;
}
