*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.card{
    text-align: center;
    margin: auto;
    width: 20rem;
}

#display{
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.center{
  display: flex;
  justify-content: center;
}
