#periodic-table{
    display: block;
    text-align: center;
}

#periodic-table-img{
    width: 600px;
}

.content{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.card{
    text-align: center;
}