* {
  padding: 0px;
  margin: 0px;
}

#c1 {
  margin: auto;
  margin-top: 20px;
}

#c2 {
  margin: auto;
  margin-top: 20px;
}

#c3 {
  margin: auto;
  margin-top: 20px;
}

.card {
  padding: 15px;
}

h4 {
  text-align: center;
}

h6 {
  text-align: center;
}

.btn {
  margin-top: 10px;
}

#home {
  margin-left: 10px;
}

img{
  display: block;
  margin: auto;
}
