* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul.li {
  padding-top: 20px;
}

#myInput {
  margin: auto;
}

li {
  list-style-type: none;
}

.container {
  margin-top: 6rem;
}


.card{
  margin: auto;
}

.displayImage{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#displayResult{
  font-size: 20px;
}
