*{
    padding: 0;
    margin: 0;
}

.card{
    box-shadow: 0px 8px 25px 1px rgb(224 224 224 / 88%);
    height: auto;
    border: none;
}

.card .form-control{
    margin-top: 10px;
}

.btn{
    margin: auto;
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;
    margin-left: auto;
}

#home{
    margin: auto;
    width: auto;
    margin-top: 10px;
    margin-left: 10px;
}
