* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  width: 20rem;
  text-align: center;
  margin-top: 45px !important;
}

.center {
  margin: auto;
  display: block;
}
